@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121420;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-clip {
  clip-path: polygon(
    50% 15%,
    50% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 30%,
    40% 30%,
    40% 15%
  );
}

.path {
  clip-path: url(#myClip);
  background: tomato;
}
